<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RetryFaileTestSuite">
  <test name="retrmyultiplefailedtestcasess" verbose="2">
  <listneres>
  <listener class-name="Analyzer.Transformer"/>
 </listneres>
 
    <classes>
      <class name="mytests.Tests"/>
     </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->